body {
  background-color: white;
  color: black;
  font-size: 1em;
}

#main {
}

.center {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.left-right {
  display: flex;
  justify-content: space-between;
}

.right-left {
  display: flex;
  justify-content: space-between;
}

/* shrinks at particular breakpoints */

.img-shrink {
  width: 40%;
  margin: auto;
}

.separation-dot {
  transform: rotate(90);
  margin: 1%;
  visibility: hidden;
}

.content {
  margin: auto;
}

.header {
  height: auto;
  padding: 2em;
}

/* breakpoints for responsivenes */

/* (Mobile S, 320px and up) */
@media (max-width: 320px) {
  .left-right {
    flex-direction: column;
  }
  .right-left {
    flex-direction: column;
  }
  img {
    width: 200px !important;
  }
  .meImg {
    width: 100px !important;
  }
}

/* (Mobile M, 375px and up) */
@media (max-width: 375px) {
  .left-right {
    flex-direction: column;
  }
  .right-left {
    flex-direction: column;
  }
  img {
    width: 200px !important;
  }
  .meImg {
    width: 100px !important;
  }
}

/* (Mobile L, 425px and up */
@media (max-width: 425px) {
  .left-right {
    flex-direction: column;
  }
  .right-left {
    flex-direction: column;
  }
  img {
    width: 200px !important;
  }
  .meImg {
    width: 100px !important;
  }
}

/* (desktop small, 500px and up */
@media (max-width: 500px) {
  .left-right {
    flex-direction: column;
  }
  .right-left {
    flex-direction: column;
  }
  img {
    width: 200px !important;
  }
  .meImg {
    width: 100px !important;
  }
}

/* (Tablet, 768px and up) */

/* (Laptop, 1024px and up) */

/* (Latop, 1440px and up) */

/* (4K 2560px, and up) */

/* bullets */

li {
  list-style: "> ";
}

/* timeline */

.dot {
  height: 10px;
  width: 10px;
  background-color: #008080;
  border-radius: 50%;
  display: inline-block;
}

.vl {
  border-left: 1px solid rgb(225, 228, 41);
  height: 50px;
  margin-left: 3px;
}

/* landing page center page */

.centerPage {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  font-size: large;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.space {
  margin-top: 4%;
}

.styles_wrapper__1kG3C {
  background: white !important;
}
